<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
    body{
    background-color:#B0E0E6;
    }
    .button{background-color: blue;
            color: blue;}
</style>
    <meta charset="UTF-8">
    <title>Home</title>
    
</head>
<body>
    <h1>INÍCIO</h1>
    <a href="http://localhost:3000">
        <input type="button" value="Cadastrar produto">
    </a>
    <br><br>
    <a href="http://localhost:3000">
        <input type="button" value="Visualizar produtos">
    </a>
    <br><br>
    <a href="http://localhost:3000">
        <input type="button" value="Deletar produtos">
    </a>
</body>
</html>