<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projeto A3</title>
        <link rel="stylesheet" href="css/meucss.css">
    </head>
    <body>
        <h2 class="container">Cadastrar produto</h2>
        <br>
        <div class="container"> 
        <form action="/show" method="POST"> 
            <p>
                <label for="id">ID </label>
                <input type="text" placeholder="ID" name="id"></p>
            <p>
                <label for="função">Função </label>
                <input type="text" placeholder="Função" name="função"></p>
            <p>
                <label for="paciente">Paciente </label>
                <input type="text" placeholder="Paciente" name="paciente"></p>
            <p>
                <label for="validade">Validade </label>
                <input type="date" placeholder="Validade" name="validade"></p>
            <p>
                <label for="quant">Quantidade </label>
                <input type="number" placeholder="Quantidade" name="quant"></p>

            <button type="submit"> Cadastrar </button>
            </div>
        </form>
    </body>
</html>